/* apply a natural box layout model to all elements, but allowing components to change */

body,
html {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  background-color: #b1b1b1;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  font-family: "Raleway", sans-serif;
  line-height: 1.7;
}

/* Header and footer styles */

header,
footer,
.header_grid-container {
  background-color: rgb(75, 75, 75);
}

header {
  width: 100%;
  /* padding-bottom: 9.5rem; */
  margin: 0 auto;
  position: fixed;
}

.header-main {
  width: 75%;
  margin: 0 auto;
}

.header_item1 {
  grid-area: grid_nav_logo;
  width: 31rem;
}

.header_item2 {
  grid-area: grid_nav_links;
}

.header_item3 {
  grid-area: grid_nav_empty;
}

main,
aside {
  background-color: rgb(90, 90, 90);
}

.header_grid-container {
  display: grid;
  grid-template-areas: "grid_nav_logo grid_nav_empty grid_nav_empty" "grid_nav_logo grid_nav_empty grid_nav_empty" "grid_nav_logo grid_nav_links grid_nav_links";
  grid-gap: 10px;
  padding: 0;
}

header img {
  padding: 0.5rem;
  width: 9rem;
  float: left;
}

.header-text {
  font-family: "Lobster", cursive;
  padding-top: 0.3rem;
  font-size: 5.5rem;
  text-shadow: 0.15rem 0.15rem rgb(120, 120, 120);
  float: right;
}

/* Navigation styles */

nav {
  display: block;
  /* float: right; */
  text-align: center;
  /* padding-right: 0.2rem; */
  /* margin-top: 5rem; */
  width: 100%;
}

/* Links in navbar */

nav a {
  /* float: left; */
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 1.5rem 1.3rem;
  text-decoration: none;
  /* width: 15.5%; */
}

/* Mouse-over */

nav a:hover {
  background: #ddd;
  color: black;
  text-decoration: none;
}

footer {
  font-size: 80%;
  text-align: center;
  text-shadow: 0.1rem 0.1rem rgb(0, 0, 0);
  color: white;
}

footer img {
  padding-top: 0.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 4rem;
}

footer h4 {
  margin-bottom: 0;
  margin-top: 0.1rem;
}

.copyright {
  font-size: 80%;
}

.contact-info {
  padding-bottom: 0.5rem;
}

.contact-info a {
  color: aqua;
  padding: 0.3rem;
  display: inline-block;
}

/* Grid layout for section, article, aside */

.gr_title {
  grid-area: grid_title;
  text-shadow: 0.15rem 0.15rem rgb(0, 0, 0);
  text-align: center;
}

.gr_text {
  grid-area: grid_text;
}

.item3 {
  grid-area: grid_empty;
}

.gr_right {
  grid-area: grid_right;
  font-size: 85%;
}

/* Grid layout for section, article, aside */

.grid-container {
  display: grid;
  grid-template-areas: "grid_title grid_title grid_title grid_title grid_title grid_title" "grid_text grid_text grid_text grid_text grid_empty grid_empty" "grid_text grid_text grid_text grid_text grid_right grid_right";
  grid-gap: 10px;
  background-color: rgb(90, 90, 90);
  padding: 10px;
  color: aqua;
}

main {
  width: 75%;
  margin: auto;
}

.empty-div {
  height: 9.5rem;
}

section h1 {
  text-shadow: 0.15rem 0.15rem rgb(0, 0, 0);
  text-align: center;
}

aside h4,
article h4 {
  text-shadow: 0.15rem 0.15rem rgb(0, 0, 0);
  text-align: center;
}

aside {
  padding-right: 0.6rem;
  font-size: 85%;
}

hr {
  width: 95%;
  color: rgb(119, 150, 235);
}