body {
  background-color: rgb(248, 249, 250);
  padding-top: 70px;
  font-family: "Raleway", cursive;
}

.container-fluid {
  padding: 0 2rem;
}

/* header */

header img {
  height: 3rem;
}

.navbar-text {
  font-family: "Lobster", cursive;
  font-size: larger;
  text-shadow: .1rem .1rem .1rem gray;
}

/**  Footer **/

footer {
  background: #586D74;
  color: white;
  font-size: .8em;
  padding: 20px 0 40px 0;
}

footer a {
  color: #E0E6AE;
}

footer a:hover {
  color: #EEC856 !important;
}

footer .phone {
  font-size: 1.4em;
  font-weight: 700;
  color: #E0E6AE;
}

/* carousel */

.carousel-inner {
  /* width: 100%; */
  /* max-height: 200px !important; */
  /* min-height: 100px !important; */
  min-width: 400px !important;
}

.carousel-indicators li {
  background-color: rgba(0, 0, 0, 0.5);
  height: .35rem;
  border-radius: .3rem;
}

.carousel-indicators .active {
  background-color: rgba(255, 255, 0, 0.55);
}

/* Date picker */

#date-pick {
  /* background-image: linear-gradient( rgb(248, 249, 250), rgb(255, 255, 255)); */
  background-image: linear-gradient( rgb(248, 249, 250), rgb(187, 93, 93));
}

.form-group {
  margin-bottom: 0;
}

/**  Page **/

.page {
  padding: 70px 0;
}

.page h2 {
  text-align: center;
  margin-bottom: 30px;
}

/**  Page -- Mission **/

#mission {
  /* background-color: #E4D29D;
  background-color: rgb(248, 249, 250); */
  background-image: linear-gradient(to bottom, rgb(219, 219, 195), rgb(219, 219, 195));
  border-top: 20px solid rgb(187, 167, 167);
}

/**  Page -- Services **/

#services {
  /* background-image: linear-gradient( rgb(248, 249, 250), rgb(255, 255, 255)); */
  background-image: linear-gradient(rgb(228, 118, 118), rgb(248, 249, 250));
  border-top: 20px solid rgb(187, 167, 167);
}

.service {
  margin: 20px 0;
  text-align: center;
}

#services img.icon {
  display: block;
  width: 5.5rem;
  margin: 0 auto;
  margin-bottom: 5px;
}

#services h3 {
  margin-bottom: 10px;
}